*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Open Sans;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

.top{
    background:url(back.png) no-repeat center center;
    background-size:cover; 
    display:flex;
    align-items:center;
    justify-content: center;
}
.budget{
    margin-top:2rem;
    margin-bottom: 2rem;
    color:#fff;
    width:350px;
}
.budget__title{
    font-size:1.1rem;
    text-align: center;
    font-weight: 300;
}
.budget__value{
    font-size:3rem;
    font-weight:300;
    letter-spacing: 2px;
    margin-top:1rem;
    text-align:center;
}

.budget__income{
    margin-top:1.5rem;
    background-color:#28B9B5;
    padding:0.7rem;
}

.budget__income div, .budget__expenses div{
    text-transform:uppercase;
}

.budget__expenses{
    margin-top:0.5rem;
    background-color:#FF5049;
    padding:0.7rem;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/

.bottom{
    margin-bottom: 2rem;
}

.add{
    padding:1rem;;
    background:#e7e7e7;
    border-bottom: 1px solid #f7f7f7;
}

.add__container{
    margin:0 auto;
    text-align: center;
}

.add__type{
    width:55px;
    height:44px;
    border:1px solid #e7e7e7;
    font-size:1.3rem;
    color:inherit;
    margin-right:10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,.add__value{
    height: 44px;
    font-size:0.95rem;
    border:1px solid #e7e7e7;
    color:inherit;
    margin-right:10px;
    border-radius:6px;
    padding:12px 15px;
    transition:border 0.3s;
}

.add__type:focus, .add__description:focus,.add__value:focus{
    border:1px solid #28B9B5;
    outline:none;
}

.add__btn{
    height: 44px;
    width:44px;
    cursor:pointer;
    font-size:2.3rem;
    vertical-align: middle;
    border:none;
    background: none;
    color:darkturquoise;
    margin-left:5px;
    outline:none;
}

.add__btn:active { transform: translateY(2px); }

/* /////////////////////////
//////////      LISTS     /////////*/


.container{
    width:1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

.income__title{
    text-transform: uppercase;
    font-size:1.2rem;
    font-weight: 400;
    color:#28B9B5;
}
.expenses__title {
    color: #FF5049;
    text-transform: uppercase;
    font-size:1.2rem;
    font-weight: 400;
}

.item{
    padding:13px;
    border-bottom:1px solid #e7e7e7;
}

.item:first-child{ border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color:#f7f7f7; }


.item__description{
    float:left;
    color:darkslategray;
}

.item__value{
    float:left;
    transition:transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}


.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}

.item__delete{
    float:left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display:none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn{display:block}
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }

.history__list:hover .item__value{ transform: none;}


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }


.history{
    width:475px;
    margin:auto;
    text-align: center;
    display:none;
}

.history__title {
    color: orangered;
    text-transform: uppercase;
    font-size:1.2rem;
    font-weight: 400;
}

.history__list__2{
    height:250px;
    overflow-y:scroll;
}

.expense__history{
    color: #FF5049;
}

.income__history{
    color:#28B9B5;
}

.clear__history{
    float:right;
    margin-right:15px;
    text-decoration: underline;
    border: none;
    background-color: white;
    color:#722898;
    font-weight: bold;
    margin-top:10px;
    cursor:pointer;
    outline: none;
    display:none;
}

.clear__history:active{
    transform: translateY(2px);
}